extends layout

block content
  .container
    label Need Time Converter?  
        |     
        input.input-xs(type="checkbox" ng-model="converter")
        |    
        span(ng-show="converter" style="color:green") [Show]
        span(ng-show="!converter" style="color:purple") [Hidden]
      br
    div(ng-show="converter")
        input.col-xs-1(type="number" ng-model="hr1")
        input.col-xs-1(type="number" ng-model="min1")
        span In
        br
        p
        input.col-xs-1(type="number" ng-model="hr2")
        input.col-xs-1(type="number" ng-model="min2")
        span Out
        br  
        br
        p Total (hours)
        div.panel.panel-primary.col-xs-1(style="color:purple; font-size:16px", align="right") {{(hr2 + (min2/60) - hr1 - (min1/60)).toFixed(2) }} 
        br
        br
        hr
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      script.
        var user = !{JSON.stringify(user)}
        var jobs = user.jobs;
        var addJob = function() {
          var jobName = $('#newjob')[0].value
          //- console.log(jobName)
          $.post("/addjob", { username: '#{user.username}', jobname: jobName }).done(function(data) {
            location.reload();
          });
        }
      div(ng-controller="StopWatchCtrl") 
        //- h3 Hello #{user.username}
        div.panel.panel-danger(style="color:purple; font-size:18px", align="center") Remember to hit 
            span(style="color:red") STOP to SAVE 
            | before Starting another client!
        div.panel.panel-primary(style="color:blue; font-size:18px", align="center") New feature added: Now auto-save ACTIVE CLIENT every 10 seconds
        br
        b Search or Add a client: 
        br
        input.col-md-3(type="text", id="newjob", name="login" ng-model="searchText")
        button.btn-primary(data-action="add-job", onclick="addJob()") Add
        br
        //- p #{user.username}'s current clients:
        
        //- button.btn-lg.btn-primary(ng-click="syncAllJob()") Sync All	
        br
        table(class="table table-hover table-condensed")
            thead
                th Client
                th Duration (hours)
                th H : M : S
                th Actions
                th Others
            tbody
                tr(ng-repeat="job in (filteredList = (jobs | filter:searchText)) track by $index")
                    td {{job.jobname}}
                    td(style="color:black") 
                        {{ (job.hours + job.mins/60 + job.secs/3600).toFixed(2) }}
                    td {{job.hours}}:{{job.mins}}:{{job.secs}}
                    td 
                        #[button.btn-success(ng-click="start($index)") Start] #[button.btn-danger(ng-click="stop($index)") Stop] #[br] #[br]                                            
                    td 
                        #[button.btn-warning.btn-xs(ng-click="reset($index)") Reset] #[button.btn-danger.btn-xs(ng-click="deleteJob($index)") Remove]    
                hr        
                tr
                    td
                        b Total
                    td(style="color:blue")
                        b {{ sumTotal(filteredList).hrs }} (hours)    
                    td
                        //- b {{ sumTotal(filteredList).h }}:{{ sumTotal(filteredList).m }}:{{ sumTotal(filteredList).s }}
                    td
                    td        

        //- ol
        //-   li(ng-repeat="job in jobs | filter:searchText track by $index")
        //-     {{job.jobname}} - 
        //-     {{job.hours}}:{{job.mins}}:{{job.secs}} - 
        //-     | [
        //-     b(style="color:blue") 
        //-         {{ (job.hours + job.mins/60 + job.secs/3600).toFixed(2) }} 
        //-     | hours]  <--------  #[button.btn-danger.btn-xs(ng-click="deleteJob($index)") Remove]       
        //-     br 
        //-     #[button.btn-success(ng-click="start($index)") Start] #[button.btn-danger(ng-click="stop($index)") Stop] #[button.btn-warning(ng-click="reset($index)") Reset] #[br] #[br]                                            
        //- br
        //- br 
        hr
        button(ng-click="resetAll()") RESET ALL
        br
        br
        a(href="/logout" class="btn btn-default") Logout  
